body {
  background-color: #f8f9fa;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.btn-eliminar {
  border: none;
  background: red;
  color: white;
  border-radius: 5px;
  padding: 2px 8px;
  cursor: pointer;
}

.btn-eliminar:hover {
  opacity: 0.8;
}

#msg-vacio {
  display: block;
}
